doctype html
html
   head
      title = "Hello person"
   body
      h1.greetings#people Hello person!
      h1=name 
      h2=email 
      h2=age
      h2=favourites_foods
      h2=createdAt
      h2=updatedAt


